@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Mulish:wght@500&display=swap");
/* font-family: 'Montserrat', sans-serif;
font-family: 'Mulish', sans-serif; */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: rgba(21, 21, 21, 0.95);
  position: relative;
  min-height: 100vh;
  padding-bottom: 10vh;
}

.superior {
  display: flex;
  justify-content: space-between;
  background-color: rgba(14, 14, 14, 0.55);
  position: relative;
  width: 100vw;
  padding: 0 10px;
  z-index: 1;
}
.superior .logo {
  height: 7vh;
}
.superior .logo img {
  height: 7vh;
}
.superior .navbar a {
  color: rgba(255, 255, 255, 0.9529411765);
  font-size: 1.6vh;
  font-weight: bold;
  text-decoration: none;
}
.superior .navbar a:hover {
  color: #C99383;
}

body .header-nosotros, body main .gran-proyecto .item4, body main .gran-proyecto .item3, body main .gran-proyecto .item2, body main .gran-proyecto .item1, body .header-contacto, body main .galeria .item10, body main .galeria .item9, body main .galeria .item8, body main .galeria .item7, body main .galeria .item6, body main .galeria .item5, body .header-index {
  background-size: cover;
  background-repeat: no-repeat;
}

@keyframes brillar {
  0% {
    color: rgba(255, 255, 255, 0.2);
    background-color: transparent;
    border-radius: 2vh;
    border: rgba(255, 255, 255, 0.2) solid 2px;
  }
  15% {
    border-color: #C99383;
    color: #C99383;
    box-shadow: 0px 0px 10px #ca7c64, 0px 0px 16px #c98976;
    text-shadow: 0px 0px 2px #ca7c64;
  }
  30% {
    color: rgba(255, 255, 255, 0.2);
    background-color: transparent;
    border-radius: 2vh;
    border: rgba(255, 255, 255, 0.2) solid 2px;
  }
  45% {
    border-color: #C99383;
    color: #C99383;
    box-shadow: 0px 0px 10px #ca7c64, 0px 0px 16px #c98976;
    text-shadow: 0px 0px 2px #ca7c64;
  }
  60% {
    color: rgba(255, 255, 255, 0.2);
    background-color: transparent;
    border-radius: 2vh;
    border: rgba(255, 255, 255, 0.2) solid 2px;
  }
  75% {
    border-color: #C99383;
    color: #C99383;
    box-shadow: 0px 0px 10px #ca7c64, 0px 0px 16px #c98976;
    text-shadow: 0px 0px 2px #ca7c64;
  }
  100% {
    color: rgba(255, 255, 255, 0.2);
    background-color: transparent;
    border-radius: 2vh;
    border: rgba(255, 255, 255, 0.2) solid 2px;
  }
}
body .header-index {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  height: 48vh;
  width: 100vw;
  background-image: url(../multimedia/fondo-index.jpg);
  padding-bottom: 7%;
}
body .header-index section .titulo-secundario h1 {
  font-size: 2.8vw;
  letter-spacing: 0.1vw;
  color: rgb(20, 17, 17);
}
body main .segundo-nav {
  background-color: rgba(14, 14, 14, 0.911);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 6vh;
}
body main .segundo-nav ul {
  margin: 0;
  padding: 0;
}
body main .segundo-nav ul li {
  display: inline-block;
  list-style: none;
  padding: 0 4vw 0 4vw;
}
body main .segundo-nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.6vh;
}
body main .segundo-nav ul li a:hover {
  color: #C99383;
}
body main .galeria {
  display: grid;
  grid-template-columns: repeat(2, 50vw);
  grid-template-rows: repeat(3, auto);
  padding: 0.5vh;
  grid-gap: 0.5vh;
  width: 100vw;
  height: 60vh;
}
body main .galeria .item5 {
  background-image: url(../multimedia/quincho.png);
  transition: 0.5s;
}
body main .galeria .item5:hover {
  transform: scale(1.03);
}
body main .galeria .item6 {
  background-image: url(../multimedia/living-comedor.png);
  transition: 0.5s;
}
body main .galeria .item6:hover {
  transform: scale(1.03);
}
body main .galeria .item7 {
  background-image: url(../multimedia/patio-suite.png);
  transition: 0.5s;
}
body main .galeria .item7:hover {
  transform: scale(1.03);
}
body main .galeria .item8 {
  background-image: url(../multimedia/baño.jpeg);
  transition: 0.5s;
}
body main .galeria .item8:hover {
  transform: scale(1.03);
}
body main .galeria .item9 {
  background-image: url(../multimedia/parrilla.jpeg);
  transition: 0.5s;
}
body main .galeria .item9:hover {
  transform: scale(1.03);
}
body main .galeria .item10 {
  background-image: url(../multimedia/cocina.jpeg);
  transition: 0.5s;
}
body main .galeria .item10:hover {
  transform: scale(1.03);
}
body main .map iframe {
  width: 100vw;
  height: 30vh;
  padding: 5vh 2vw;
}

/* mobile first contacto*/
body .header-contacto {
  width: 100vw;
  height: 40vh;
  background-image: url(../multimedia/img-contacto.jpg);
  background-position: left;
}
body main .container-contacto {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
}
body main .container-contacto .formularios h1 {
  font-size: 5.5vw;
  color: rgba(255, 255, 255, 0.9529411765);
  padding: 3vw 4vw;
}
body main .container-contacto .formularios p {
  font-size: 2.4vw;
  color: rgba(255, 255, 255, 0.9529411765);
  padding: 3vw 4vw;
  text-indent: 5vw;
}
body main .comentarios div h2 {
  font-size: 4vw;
  color: rgba(255, 255, 255, 0.9529411765);
  padding: 3vw 4vw;
}
body main .comentarios div .textarea #textarea-contacto {
  height: 20vh;
  width: 90vw;
  resize: none;
  overflow: auto;
  background-color: #0e0e0e;
  color: rgba(255, 255, 255, 0.9529411765);
  font-size: 3vw;
  margin: 3vw;
  padding-left: 3vw;
}
body main .comentarios form .nombres {
  margin: 1vw 3vw 3vw 3vw;
  font-size: 3vw;
  border-radius: 0.5vh;
  border: rgba(14, 14, 14, 0.678) solid 2px;
}
body main .comentarios form .enviar {
  color: rgba(255, 255, 255, 0.2);
  background-color: transparent;
  font-size: 3vw;
  width: 35vw;
  height: 5vh;
  border-radius: 2vh;
  border: rgba(255, 255, 255, 0.2) solid 2px;
  margin-left: 3vw;
}
body main .comentarios form .enviar:hover {
  transform: scale(1.05);
  animation: brillar 1s infinite alternate backwards;
}
body main .comentarios form .enviar:active {
  transform: scale(1.05);
  animation: brillar 1s infinite alternate backwards;
}

/*mobile first emprendimientos*/
body main #Nuestro-Próximo-Gran-Proyecto {
  color: #f5f4f4;
  font-size: 5vw;
  text-align: center;
  padding: 2vw;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
body main .gran-proyecto {
  min-height: 55vh;
  display: grid;
  grid-template-columns: repeat(2, 50vw);
  grid-template-rows: repeat(3, 1fr);
}
body main .gran-proyecto .item1 {
  border: #C99383 solid 2px;
  background-image: url(../multimedia/proyecto-i-hd.jpg);
  grid-column: 1/3;
  grid-row: 1/2;
  transition: 0.5s;
}
body main .gran-proyecto .item1:hover {
  transform: scale(1.03);
}
body main .gran-proyecto .item2 {
  border: #C99383 solid 2px;
  background-image: url(../multimedia/proyecto-iv-hd.jpg);
  background-position: bottom;
  grid-column: 1/2;
  grid-row: 2/3;
  transition: all 0.5s;
}
body main .gran-proyecto .item2:hover {
  transform: scale(1.03);
}
body main .gran-proyecto .item3 {
  border: #C99383 solid 2px;
  background-image: url(../multimedia/proyecto-iii-hd.jpg);
  grid-column: 2/3;
  grid-row: 2/3;
  background-position: bottom;
  transition: 0.5s;
}
body main .gran-proyecto .item3:hover {
  transform: scale(1.03);
}
body main .gran-proyecto .item4 {
  border: #C99383 solid 2px;
  background-image: url(../multimedia/proyecto-ii-hd.jpg);
  background-position: bottom;
  grid-column: 1/3;
  grid-row: 3/4;
  transition: 0.5s;
}
body main .gran-proyecto .item4:hover {
  transform: scale(1.03);
}

/*hoteleria mobile first*/
.turismo {
  background-image: url(../multimedia/fondo-montaña.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.turismo main .nuestros-hoteles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.turismo main .nuestros-hoteles h1 {
  color: rgba(255, 255, 255, 0.9529411765);
  background-color: rgba(26, 25, 25, 0.5803921569);
  border-radius: 10px;
  width: 60vw;
  font-size: 6vw;
  padding: 1vw 0vw;
  margin-top: 3vw;
  text-align: center;
}
.turismo main .nuestros-hoteles h2 {
  color: #0c0c0c;
  background-color: rgba(255, 255, 255, 0.548);
  border-radius: 10px;
  width: 65vw;
  padding: 1vw 0px;
  text-align: center;
  font-size: 3vw;
  margin-top: 3vw;
}
.turismo main .cartas {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.turismo main .cartas .card {
  margin: 1.5vh;
  text-align: center;
}
.turismo main .cartas .card .card-body .card-title {
  font-size: 2vh;
}
.turismo main .cartas .card .card-body .a .btn-primary {
  font-size: 1.5vh;
}

/* Nosotros: mobile first*/
body .header-nosotros {
  width: 100vw;
  height: 55vh;
  background-image: url(../multimedia/img-nosotros.jpg);
  background-position: right;
}
body main .container-nosotros {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
}
body main .container-nosotros .descripcion {
  width: 100vw;
  color: #f5f4f4;
  padding: 8vw;
}
body main .container-nosotros .descripcion h1 {
  font-size: 5vw;
}
body main .container-nosotros .descripcion p {
  text-indent: 5vw;
  font-size: 2vw;
  padding-top: 2.1vh;
}

footer {
  background-color: rgb(14, 14, 14);
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: 0;
}
footer .copyright {
  color: rgba(255, 255, 255, 0.9529411765);
  font-family: "monserrat";
}
footer .copyright p {
  font-size: 2.2vw;
  margin: 0;
  padding: 0;
}
footer .redes {
  display: inline-block;
}
footer .redes a {
  text-decoration: none;
}
footer .redes a i {
  color: rgba(255, 255, 255, 0.9529411765);
  font-size: 3.9vw;
  letter-spacing: 1.2vw;
}

/*responsive header y footer*/
@media only screen and (min-width: 1024px) and (max-height: 1120px) {
  body header .superior {
    padding: 0px 100px;
  }
  body header .superior .logo {
    height: 90px;
  }
  body header .superior .logo img {
    height: 98%;
  }
  body footer .copyright p {
    font-size: 2vh;
    margin: 0;
    padding: 0;
  }
  body footer .redes a {
    text-decoration: none;
  }
  body footer .redes a i {
    font-size: 2vw;
    letter-spacing: 2vw;
  }
}
/*responsive index*/
@media only screen and (min-width: 1024px) and (max-height: 1120px) {
  body .header-index {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: url(../multimedia/fondo-index.jpg);
    height: 55vw;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
    padding-bottom: 5%;
  }
  body .header-index section .titulo-secundario h1 {
    font-size: 1.6vw;
  }
  body main .galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  body main .galeria .item5 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
  body main .galeria .item6 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
  body main .galeria .item7 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
  body main .galeria .item8 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
  body main .galeria .item9 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
  body main .galeria .item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
}
/*responsive contacto*/
@media only screen and (min-width: 1024px) and (max-height: 1365px) {
  body .header-contacto {
    background-image: none;
    height: 0vh;
  }
  body main .container-contacto {
    margin-top: 15vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
  }
  body main .container-contacto .banner-contacto {
    width: 40vw;
    height: 50vh;
    background-image: url(../multimedia/img-contacto.jpg);
    background-size: contain;
    background-repeat: no-repeat;
  }
  body main .container-contacto .formularios {
    width: 55vw;
  }
  body main .container-contacto .formularios h1 {
    font-size: 5vh;
    color: rgba(255, 255, 255, 0.9529411765);
    padding: 6vh 0vh 4vh 6vh;
  }
  body main .container-contacto .formularios p {
    font-size: 1.8vh;
    color: rgba(255, 255, 255, 0.9529411765);
    padding: 1vh 1vh 1vh 1vh;
    font-weight: 100;
  }
  body main .comentarios div h2 {
    font-size: 3.5vh;
    color: rgba(255, 255, 255, 0.9529411765);
    padding: 0vh 4vw;
    text-align: center;
  }
  body main .comentarios div .textarea #textarea-contacto {
    height: 30vh;
    width: 90vw;
    resize: none;
    overflow: auto;
    font-size: 1.7vh;
    margin: 3vw;
    padding-left: 3vw;
  }
  body main .comentarios form .nombres {
    margin: 1vw 2vw 2vw 2vw;
    font-size: 1.1vw;
    border-radius: 0.5vh;
  }
  body main .comentarios form .enviar {
    font-size: 1vw;
    width: 10vw;
    border-radius: 2vh;
  }
}
/*responsive emprendimientos*/
@media only screen and (min-width: 600px) {
  body main #Nuestro-Próximo-Gran-Proyecto {
    font-size: 4vh;
  }
  body main .gran-proyecto {
    grid-template-rows: repeat(2, 1fr);
  }
  body main .gran-proyecto .item1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  body main .gran-proyecto .item2 {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  body main .gran-proyecto .item3 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  body main .gran-proyecto .item4 {
    grid-column: 2/3;
    grid-row: 2/3;
  }
}
@media only screen and (min-width: 1024px) {
  body main .gran-proyecto {
    height: 80vh;
  }
}
/*Hotelería responsive*/
@media only screen and (min-width: 720px) {
  .turismo main .cartas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
  }
}
@media only screen and (min-width: 1024px) and (max-height: 1080px) {
  .turismo main .cartas {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
  }
}
/*nosotros responsive*/
@media only screen and (min-width: 1024px) and (max-height: 1365px) {
  body .header-nosotros {
    background-image: none;
    height: 0vh;
  }
  body main .container-nosotros {
    width: 100vw;
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
  }
  body main .container-nosotros .banner {
    width: 45vw;
    height: 100vh;
    background-image: url(../multimedia/img-nosotros.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
  }
  body main .container-nosotros .descripcion {
    width: 55vw;
    padding: 6vw;
  }
  body main .container-nosotros .descripcion h1 {
    font-size: 3vw;
    padding-left: 1vw;
    padding-top: 5vh;
  }
  body main .container-nosotros .descripcion p {
    font-size: 0.85vw;
    padding-bottom: 0;
  }
}

/*# sourceMappingURL=style.css.map */
