/*responsive header y footer*/
@media only screen and (min-width: 1024px) and (max-height: 1120px){
    body{
        header{
            .superior{
                padding: 0px 100px;
                .logo{
                    height: 90px;  
                }
                  .logo img{
                    height: 98%;
                  }
            }
        }   
        footer{
            .copyright{
                p{
                    font-size: 2vh;
                    margin: 0;
                    padding: 0;
                }
            }
            .redes{
                a{
                    text-decoration: none;
                    i{
                        font-size: 2vw;
                        letter-spacing: 2vw;
                    }
                }
            }
        }
    }
}